.grid-container {
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: .5fr 1fr 1fr 1fr .5fr ;
    grid-template-areas:
                        " header header header"
                        " containerone containerone containerone "
                        "containertwo containertwo containertwo "
                        " containerthree containerthree containerthree"
                         "footer footer footer";
                         margin: 5px;
                         text-align: center;
                         
}

.header {
    grid-area: header;
    align-items: center;
}

nav > a {
    color:black;
    text-align: center;
    padding-left: 30px;
    text-decoration: none;
    font-size: 30px;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
    font-family: 'Playfair Display', serif;
}

h1{
    font-family: 'Playfair Display', serif;
}

.container-one{
    display: flex;
    grid-area: containerone;
    flex-direction: row;
    height: 20%;
    width: 20%;
}

.container-two{
    display: flex;
    grid-area: containertwo;
    flex-direction: row;
    height: 20%;
    width: 20%;
}

.container-three{
    display: flex;
    grid-area: containerthree;
    flex-direction: row;
    height: 20%;
    width: 20%;
}

footer{
    grid-area: footer;
}
.column{
    flex: 33.33%;
    padding: 10px;
    text-align: center;
}

@media (max-width: 900px){

}

@media (max-width: 600px) {
   grid-container{ display:grid ;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr.5fr ;
    grid-template-areas:
                        " header"
                        " containerone"
                        " containerone"
                        " containerone"
                        "containertwo"
                        "containertwo"
                        "containertwo"
                        " containerthree"
                        " containerthree"
                        " containerthree"
                         "footer";
                         margin: 5px;
                         text-align: center;}
                         

}